name: lint
on: push
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Install modules
              run: pnpm i
            - name: Run ESLint
              run: pnpm run lint
